<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
    <!-- //for-mobile-apps -->
    <link th:href="@{~/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{~/css/style.css}" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script th:src="@{~/js/jquery.min.js}"></script>
    <!-- //js -->
    <link rel="stylesheet" type="text/css" th:href="@{~/css/jquery-ui.css}">
    <!-- for bootstrap working -->
    <script type="text/javascript" th:src="@{~/js/bootstrap-3.1.1.min.js}"></script>
    <!-- //for bootstrap working -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <title>myQQ</title>
</head>
<body>
    <div class="container col-md-4" style="border: 1px solid #ccc;" id="loginDiv">
        <form id="loginForm" th:action="@{/qqLogin}" method="post">
            <div class="form-group">
                <label>用户名</label>
                <input type="text" class="form-control" name="username" placeholder="请输入用户名">
            </div>
            <div class="form-group">
                <label>密码</label>
                <input type="password" class="form-control" name="password" placeholder="请输入密码">
            </div>
            <button type="submit" class="btn btn-default">登录</button>
            <label style="color: red" th:if="${not #strings.isEmpty(errMsg)}" th:text="${errMsg}"></label>
        </form>
    </div>
</body>
</html>